<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862308398510-nhvltorqs9ist5pvp0nemubkts9n2lvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862308398510-nhvltorqs9ist5pvp0nemubkts9n2lvu</string>
	<key>API_KEY</key>
	<string>AIzaSyCYhtjYCgyKu3_HEdiY7GUfKPb-VQBQhDo</string>
	<key>GCM_SENDER_ID</key>
	<string>862308398510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dumbies.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-43b15</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-43b15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862308398510:ios:2dfadd7eba315280</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-43b15.firebaseio.com</string>
</dict>
</plist>